<H1>Calculadora</H1>
<div class="Calculadora">
  <div class="Pantalla">
    <output class="Resumen">
      {{Resumen }}
    </output>
    <output class="Resultado">
      {{ Pantalla }}
    </output>
  </div>

  <div class="teclado">
    <input class="botonOperar" id="encender" span-2 type="button" value="Borrar" (click)="iniciar()" />
    <input class="botonOperar" type="button" value="C" (click)="borrar()" />
    <input class="botonOperar" type="button" value="/" (click)="calcular('/')" />
    <input class="botonDigito" type="button" value="7" (click)="ponerDigito('7')" />
    <input class="botonDigito" type="button" value="8" (click)="ponerDigito('8')" />
    <input class="botonDigito" type="button" value="9" (click)="ponerDigito('9')" />
    <input class="botonOperar" type="button" value="*" (click)="calcular('*')" />
    <input class="botonDigito" type="button" value="4" (click)="ponerDigito('4')" />
    <input class="botonDigito" type="button" value="5" (click)="ponerDigito('5')" />
    <input class="botonDigito" type="button" value="6" (click)="ponerDigito('6')" />
    <input class="botonOperar" type="button" value="+" (click)="calcular('+')" />

    <input class="botonDigito" type="button" value="1" (click)="ponerDigito('1')" />
    <input class="botonDigito" type="button" value="2" (click)="ponerDigito('2')" />
    <input class="botonDigito" type="button" value="3" (click)="ponerDigito('3')" />
    <input class="botonOperar" type="button" value="-" (click)="calcular('-')" />

    <input class="botonDigito" id="cero" type="button" value="0" (click)="ponerDigito('0')" />
    <input class="botonDigito" type="button" value="." (click)="ponerComa()" />
    <input class="botonOperar" type="button" value="=" (click)="calcular('=')" />
  </div>
</div>
